body { 
    .tl_formbody_submit { 
        position: sticky; 
        bottom: -1px; 
        margin-top: -1px; 
        z-index: 9; 
    }
    &.debug_mode .tl_formbody_submit .tl_submit_container { padding-bottom: 38px; }
    &.popup { padding-bottom: 49px;
        .tl_formbody_submit { 
            position: fixed; 
            width: 100%; 
        }
    }
    @media(max-width:1023px){  
        #container, #main { 
            overflow: visible; 
            padding-top: 20px;
        }
        #main .content { margin: 15px 0 0; }
    }   
}
